# Django
SECRET_KEY='django-insecure-67vx!ny+(leh6wkk$x80w+0(n^2f(k%a8f%mrc$pe*vnsz#f11'
DEBUG=True
ALLOWED_HOSTS='127.0.0.1,localhost'
CSRF_TRUSTED_ORIGINS='https://your-router-domain.example.com'

# PostgreSQL
POSTGRES_USER=flowershop_user
POSTGRES_PASSWORD=flowershop_pass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=flowershop_dev_db
DATABASE_URL='postgres://flowershop_user:flowershop_pass@127.0.0.1:5433/flowershop_dev_db'

# YooKassa
YOOKASSA_SHOP_ID=your_shop_id_here
YOOKASSA_SECRET_KEY=your_secret_key_here

# Logging
LOG_FILENAME=app.log
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5
