# Django
SECRET_KEY='django-insecure-67vx!ny+(leh6wkk$x80w+0(n^2f(k%a8f%mrc$pe*vnsz#f11'
DEBUG=True
ALLOWED_HOSTS='127.0.0.1,localhost'

DATABASE_URL='postgres://flowershop_user:flowershop_pass@127.0.0.1:5433/flowershop_dev_db'

# MinIO
MINIO_ENDPOINT=https://minio.your-domain.com
MINIO_ACCESS_KEY=your_access_key_here
MINIO_SECRET_KEY=your_secret_key_here
MINIO_BUCKET_NAME=flowers-dev
MINIO_USE_SSL=True
